@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900,900i&display=swap');

html{
	font-family: 'Lato', sans-serif;
}

*{
	box-sizing: border-box;
}

.logo{
	/*float: left;*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.logo img{
	width: 140px;
	height: 45px;
	/*background-color: red;*/
}

header nav{
	float: right;
}

header{
	/*background-color: grey;*/
	/*background-color: rgba(0,0,0,0.6);*/
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

header.sticky{
	
	
	background-color : rgba(0,0,0,0.6);
	
}

.clearfix::after{
	content: '';
	clear: both;
	display: table;
}

body{
	margin: 0;
}

nav a{
	/*background-color: yellow;*/
	padding: 1.5em 1em;
	display: block;
	text-decoration: none;
	/*color: currentColor;*/
	color: white;
}

nav a[href]:hover{
	color: #1DB954;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li{
	/*display: inline-block;*/
	float: left;
}
.container{
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

#section1{
	height: 580px;
	background-color: rgb(80, 155, 245);
	background-image: url('images/hero-image.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: auto 85%;
}

#section1 h1{
	color: white;
    font-size: 5rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

#section1 h2{
	color: white;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.clearfix::before{
	content: '';
	display: table;
}

#section1 small{
	position: absolute;
	left: 15px; /*Equivalent au padding du container*/
	bottom: 0;
	max-width: 50%;
	color: white;
	font-size: 0.8rem;
}

#section1 .container{
	height: 100%;
	position: relative;
}

.vertically-centered{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.benefit{
	float: left;
	width: calc((100% - 60px) / 4);
	/*background-color: red;*/
	margin-right: 20px;
	text-align: center;
}

.benefit:last-child{
	margin-right: 0px;
}

.benefit img{
	width: 60%;
}

.benefit h1{
	font-size: 1.3rem;
	margin-bottom: 0.5em;
	line-height: 1.5em;
}

.benefit h2{
	font-size: 1rem;
	font-weight: 400;
	width: 60%;
	margin: auto;
}


.container > h1{
	text-align: center;
	font-size: 3rem;
	font-weight: 900;
}

.container > h1.small{
	text-align: center;
	font-size: 2.3rem;
	font-weight: 900;
	margin-bottom: 0;
}

.container > h2{
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 0.5em;
	margin-bottom: 3rem;
}

.offer{
	float: left;
	margin-right: 20px;
	width: calc((100% - 40px) / 3);
	/*background-color: red;*/
	padding: 20px;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	border-radius: 10px;
	min-height: 600px;
	position: relative;
}

.offer:last-child{
	margin-right: 0px;
}

footer nav + div{
	right: 15px; /*Equivalent au padding du container*/
}

footer nav + div a{
	display: block;
}


.cta-button{
	background-color: #1DB954;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 3em;
	display: inline-block;
	border-radius: 900px;
	letter-spacing: 0.15em;
	font-size: 0.9rem;
	font-weight: 700;
	transition: background-color 0.3s 0.1s, transform 0.3s;
	transform-origin: center center;

}

.cta-button:hover{
	background-color: rgb(30, 215, 96);
	transform: scale(1.1);
}

.cta-button--full{
	width: 100%;
	text-align: center;
}

.cta-button--white{
	color: #1DB954;
	background-color: white;
	border: solid 1px #1DB954;
}

/*Animation du CTA de la section 1*/

@keyframes fadeIn{
	from {opacity: 0; transform: translateY(100%);}
	to {opacity: 1; transform: translateY(0%);}
}

#section1 .cta-button{
	animation: fadeIn 1s;
}


main > section{
	padding: 35px 0;
}

.offer ul{
	/*list-style-image: url('images/arrow.svg');*/
	list-style: none;
	border-top: thin solid #CCC;
	padding-top: 2rem;
	margin-top: 2rem;
}

.offer li{
	position: relative;
	line-height: 1.2em;
	margin-bottom: 0.5em;
	font-weight: 400;
	letter-spacing: 0.03em;
}

.offer li::before{
	content: '';
	width: 24px;
	height: 24px;
	background-image: url('images/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	top: 0;
	left: -40px;
}

.offer h1{
	background-color: rgb(63, 158, 215);
	color: white;
	font-size: 0.9rem;
	line-height: 1em;
	display: inline-block;
	padding: 0.6em;
	border-radius: 0.3em;
	margin-bottom: 0.1em;
}

.offer h2{
	margin: 0.3em 0 0;
}

.offer h3{
	font-size: 1rem;
	line-height: 1.5em;
	margin: 0;
	font-weight: 400;
}

.offer footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	font-size: 0.9rem;
	color: rgb(145, 148, 150);
	text-align: center;
}

.offer footer small{
	display: block;
	margin-top: 1rem;
	line-height: 1.4em;
}

.offer footer small a{
	color: currentColor;
}

body > footer{
	background-color: black;
	margin-top: 5rem;
}

body > footer .container{
	padding: 3rem 0 1rem;
}

body > footer *{
	font-size: 0.75rem;
	color: #919496;
}

.country-france{
	text-decoration: none;
	margin-bottom: 1rem;
}

.country-france::after{
	content: '';
	height: 1.2em;
	width: 1.2em;
	background-image: url('images/fr_flag.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-left: 1em;
	display: inline-block;
}

.align-right{
	text-align: right;
}

#modal {
	
	position: fixed ;
	top : 0 ;
	left:0;
	width: 100vw;
	height: 100vh ;
	background-color : rgba(0,0,0,0.6) ;
	z-index: 10 ;
	display:flex ;
	justify-content: center;
	align-items : center ;
}

